<h2>$BTC Sentiment Analysis</h2>
<p>Average Score: <span class="js-average-score">waiting...</span></p>

<ul class="tweet-list js-tweet-list"></ul>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    window.startTermStream("$BTC");
  })
</script>
